
<p>
  <b>Title:</b>
  <%= @listing.title %>
</p>

<p>
  <b>Price:</b>
  $<%= @listing.price %>
</p>

<p>
  <b>Size:</b>
  <%= @listing.size %>
</p>

<p>
  <b>Date:</b>
  <%= @listing.listing_date %>
</p>

<p>
  <b>Area:</b>
  <%= @listing.area.location %>
</p>

<p>
  <b>Zip:</b>
  <%= @listing.zip_code.zip_code %>
</p>

<p>
  <b>Address:</b>
  <a href="http://maps.google.com/?q=loc:<%= escape_html(@listing.address) %>"><%= @listing.address %></a>
</p>

<p>
  <b>URL:</b>
  <a href="<%= @listing.url %>"><%= @listing.url %></a>
</p>

<br/>

<p>
  <b>Content:</b>
  <%= strip_html(@listing.content) %>
</p>


